@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

.layout{
  height: 100vh;
  background-image: linear-gradient(to bottom, white , #dbeafe, white);
}

.navbar-root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo{
  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
}

.links{
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-items{
  font-size: 14px;
  text-decoration: none;
  color: #171717;
  font-weight: 500;
}

.link-items:hover{
  color: #737373;
  transition: color 0.2s ease-out;
}

.btn{
  all: unset;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 14px;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn:hover{
  background-color: #2563eb;
}