@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

.layout{
  height: 100%;
  background-image: linear-gradient(to bottom, white , #dbeafe, white);
  position: relative;
}

.navbar-root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo{
  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
}

.links{
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-items{
  font-size: 14px;
  text-decoration: none;
  color: #171717;
  font-weight: 600;
  cursor: pointer;
}

.link-items:hover{
  color: #737373;
  transition: color 0.2s ease-out;
}

.btn{
  all: unset;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 14px;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn:hover{
  background-color: #2563eb;
  transition: background-color 0.2s ease-out;
}

.hero-root{
  padding: 64px 0px;
  text-align: center;
}

.badge{
  font-size: 12px;
  max-width: 350px;
  font-weight: 800;
  color: #262626;
  border-radius: 50px;
  background-color: #f5f5f5;
  padding: 4px 12px;
  width: fit-content;
  margin: 0 auto;
  border: .5px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.badge:hover{
  background-color: #e5e7eb;
  transition: background-color 0.2s ease-out;
}

.hero-title{
  font-size: 56px;
  font-weight: 700;
  color: #202020;
  letter-spacing: -1.5px;
  line-height: 1.1;
  margin-top: 48px;
}

.hero-subtitle{
  font-size: 18px;
  color: #595959;
  font-weight: 500;
  margin-top: 24px;
}

.hero-cta{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-secondary{
  all: unset;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-secondary:hover{
  background-color: #d1d5db;
  transition: background-color 0.2s ease-out;
}

.hero-footer{
  font-size: 12px;
  font-weight: 500;
  color: #949da6;
  margin-top: 24px;
}

.left-line{
  height: 100%;
  width: 1.2px;
  position: absolute;
  left: -20px;
  background: linear-gradient(to bottom, #bfdbfe, #e5e5e5);
  opacity: 0.8;
}

.right-line{
  height: 100%;
  width: 1.2px;
  position: absolute;
  right: -20px;
  background: linear-gradient(to bottom, #bfdbfe, #e5e5e5);
  opacity: 0.8;
}

.hero-image-container{
  position: relative;
  width: 1024px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-image{
  width: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.horizontal-line{
  height: 1px;
  width: 99vw;
  position: absolute;
  top: -20px;
  background-color: #d1d5db;
  opacity: 0.8;
}

.layout-lines-container{
  position: absolute;
  max-width: 1024px;
  height: 100%;
  margin: auto;
  inset: 0;
  pointer-events: none;
}
